[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = http://github.com/scrooloose/nerdtree.git
[submodule "bundle/vim-pastie"]
	path = bundle/vim-pastie
	url = https://github.com/tpope/vim-pastie.git
