[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = http://github.com/scrooloose/nerdtree.git
	ignore = dirty
[submodule "bundle/vim-pastie"]
	path = bundle/vim-pastie
	url = https://github.com/tpope/vim-pastie.git
	ignore = dirty
[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = git://github.com/scrooloose/nerdcommenter.git
	ignore = dirty
[submodule "bundle/molokai"]
	path = bundle/molokai
	url = git://github.com/vim-scripts/molokai.git
	ignore = dirty
[submodule "bundle/yankring"]
	path = bundle/yankring
	url = git://github.com/vim-scripts/YankRing.vim.git
	ignore = dirty
[submodule "bundle/surround"]
	path = bundle/surround
	url = git://github.com/tpope/vim-surround.git
	ignore = dirty
